.cat-desc p {
  font-size: 13px;
  margin-bottom: 10px;
  white-space: nowrap;
}

#cat-img {
  width: 120px;
}
.cat-hover {
  transition: 0.5s ease;
}
.cat-hover:hover {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
