.custom-breadcrumb {
  font-size: 14px;
  background-color: #f3f0f0;
  margin: 0;
}

.offer-rating {
  color: rgb(204, 179, 37);
  font-size: 14px;
}

.offer-rating span {
  font-size: 16px;
  color: firebrick !important;
}

.offer-price span {
  vertical-align: -1px;
}

.about-product {
  line-height: 28px;
}

.fa-heart, .fa-share-alt, .fa-bell {
  transition: 0.5s ease;
}

.fa-heart:hover {
  color: red;
}

.fa-share-alt:hover {
  color: blue;
}

.fa-bell:hover {
  color: green;
}

.product-benefits li {
  font-size: 12px;
}

.brand-cat {
  font-size: 16px;
}

.brand-cat a span {
  transition: 0.5s ease;
}

.brand-cat a span:hover {
  background-color: #232f3e;
}

.custom-nav-tabs-product-desc .nav-link {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: rgb(66, 58, 58);
}

.custom-nav-tabs-product-desc .nav-link {
  font-size: 15px;
}

.custom-nav-tabs-product-desc .nav-link.active,
.custom-nav-tabs-product-desc .nav-item.show .nav-link {
  color: blue;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid blue;
}

.review-product {
  font-size: 14px;
  line-height: 28px;
}

.review-product-rate {
  font-size: 12px;
}

.specialist-review-bullet {
  bottom: 141px;
  right: -10px;
  color: rgb(158, 158, 158);
  font-size: 18px;
}

.add-comment-title a button i {
  vertical-align: -3px;
}

.media-body p {
  font-size: 14px;
}
