.bg-top-nav {
  background: #232f3e;
}

.custom-top-nav,
.bg-top-nav p {
  font-size: 14px;
}

.custom-top-nav a {
  padding: 10px;
}

.custom-top-nav .border-left {
  border-color: #4a4a4a !important;
}

.custom-btn-font-size {
  font-size: 14px;
}

.shopping-card {
  background-color: transparent;
}

.shopping-card span {
  font-size: 16px;
}

.shopping-card i {
  vertical-align: -2px;
}

.custom-dropdown-toggle::after {
  vertical-align: 0;
}
.basket {
  width: 300px !important;
}
.basket a {
  font-size: 14px;
}

.basket a img {
  width: 64px;
  height: 64px;
}

.basket h6 {
  margin-bottom: 3px;
}

.custom-navbar-nav {
  font-size: 15px;
}

/* .custom-navbar => full-width sub-menu */
.custom-navbar-nav .nav-item {
  position: unset;
}

.custom-navbar-nav .nav-item .dropdown-menu {
  color: #fff;
  top: 54px;
  border-radius: 0;
}

.dropdown-image ul.nav li a{
  color: #000!important;
  font-size: 13px;
  transition: 0.5s ease;
}

.dropdown-image ul.nav li a:hover{
  margin-right: 25px;
  color: rgba(56, 136, 255)!important;

}

.dropdown-image ul.nav li a i{
  vertical-align: -2px;
}

.home-appliances img {
  position: absolute;
  top: -8px;
  left: 0;
  width: 400px;
  height: 296px;
}

.custom-navbar-toggler {
  border: none;
}

.custom-navbar-toggler:focus {
  outline: none;
}

.input-top-nav-search::-webkit-input-placeholder {
  font-size: 15px;
}
