@import url("_top-nav.css");
@import url("_slider.css");
@import url("_shipping.css");
@import url("_ads.css");
@import url("_categories.css");
@import url("_special-offer.css");
@import url("_banner-1.css");
@import url("_footer.css");
@import url("_login-form.css");
@import url("_product-details.css");
@import url("btn-style.css");
@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir-Medium;
}

body {
  direction: rtl;
  background-color: #dcdcdc;
}

a {
  text-decoration: none;
  color: rgb(66, 58, 58);
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

@media (max-width: 576px) {
  .mt-csm-3 {
    margin-top: 1rem;
  }
}

@media (max-width: 991px) {
  .mt-clg-3 {
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px !important;
  }
}

a:hover {
  text-decoration: none;
  color: rgb(66, 58, 58);
}

.owl-carousel .owl-dots {
  margin: -24px;
}

.owl-carousel .owl-nav.disabled {
  position: relative;
  display: block;
  text-align: center;
  color: rgb(0, 26, 255);
  font-size: 30px;
}

.owl-carousel .owl-nav.disabled .owl-prev {
  position: absolute;
  right: 5px;
  bottom: 175px;
  font-size: 60px;
  transition: 0.5s ease;
}

.owl-carousel-brand .owl-nav.disabled .owl-prev {
  bottom: 85px;
}

.owl-carousel .owl-nav.disabled .owl-prev:hover {
  color: rgb(104, 186, 252);
}

.owl-carousel .owl-nav.disabled .owl-next {
  position: absolute;
  left: 5px;
  bottom: 175px;
  font-size: 60px;
  transition: 0.5s ease;
}

.owl-carousel-brand .owl-nav.disabled .owl-next {
  bottom: 85px;
}

.owl-carousel .owl-nav.disabled .owl-next:hover {
  color: rgb(104, 186, 252);
}

.banner-mt {
  margin-top: 120px;
}

/* zoomy js product-img customize */

.zoom-mousemove {
  border: none!important;

  border-left: 2px solid #efefef!important
}
